.layout {display:none}
.symbolBox {stroke:black;stroke-width:0.32;}
.svgBox {stroke:blue;stroke-width:0.32;}
.pivotPoint {stroke:red;stroke-width:0.64;}
.sl {stroke-linecap:round;stroke-linejoin:round}
.f0 {fill:none}
.sNODTA {stroke:#c0c0c0}
.fNODTA {fill:#c0c0c0}
.sCURSR {stroke:#000000}
.fCURSR {fill:#000000}
.sCHBLK {stroke:#000000}
.fCHBLK {fill:#000000}
.sCHGRD {stroke:#404040}
.fCHGRD {fill:#404040}
.sCHGRF {stroke:#707070}
.fCHGRF {fill:#707070}
.sCHRED {stroke:#aa0000}
.fCHRED {fill:#aa0000}
.sCHGRN {stroke:#50ff00}
.fCHGRN {fill:#50ff00}
.sCHYLW {stroke:#ffff15}
.fCHYLW {fill:#ffff15}
.sCHMGD {stroke:#6600aa}
.fCHMGD {fill:#6600aa}
.sCHMGF {stroke:#909090}
.fCHMGF {fill:#909090}
.sCHBRN {stroke:#604020}
.fCHBRN {fill:#604020}
.sCHWHT {stroke:#f0f0f0}
.fCHWHT {fill:#f0f0f0}
.sSCLBR {stroke:#000000}
.fSCLBR {fill:#000000}
.sCHCOR {stroke:#000000}
.fCHCOR {fill:#000000}
.sLITRD {stroke:#aa0000}
.fLITRD {fill:#aa0000}
.sLITGN {stroke:#50ff00}
.fLITGN {fill:#50ff00}
.sLITYW {stroke:#ffff15}
.fLITYW {fill:#ffff15}
.sISDNG {stroke:#aa0000}
.fISDNG {fill:#aa0000}
.sDNGHL {stroke:#aa0000}
.fDNGHL {fill:#aa0000}
.sTRFCD {stroke:#505050}
.fTRFCD {fill:#505050}
.sTRFCF {stroke:#a0a0a0}
.fTRFCF {fill:#a0a0a0}
.sLANDA {stroke:#b0b0b0}
.fLANDA {fill:#b0b0b0}
.sLANDF {stroke:#202020}
.fLANDF {fill:#202020}
.sCSTLN {stroke:#000000}
.fCSTLN {fill:#000000}
.sSNDG1 {stroke:#404040}
.fSNDG1 {fill:#404040}
.sSNDG2 {stroke:#000000}
.fSNDG2 {fill:#000000}
.sDEPSC {stroke:#404040}
.fDEPSC {fill:#404040}
.sDEPCN {stroke:#707070}
.fDEPCN {fill:#707070}
.sDEPDW {stroke:#e0e0e0}
.fDEPDW {fill:#e0e0e0}
.sDEPMD {stroke:#d0d0d0}
.fDEPMD {fill:#d0d0d0}
.sDEPMS {stroke:#c8c8c8}
.fDEPMS {fill:#c8c8c8}
.sDEPVS {stroke:#b8b8b8}
.fDEPVS {fill:#b8b8b8}
.sDEPIT {stroke:#a0a0a0}
.fDEPIT {fill:#a0a0a0}
.sRADHI {stroke:#008800}
.fRADHI {fill:#008800}
.sRADLO {stroke:#005500}
.fRADLO {fill:#005500}
.sARPAT {stroke:#404040}
.fARPAT {fill:#404040}
.sNINFO {stroke:#000000}
.fNINFO {fill:#000000}
.sRESBL {stroke:#0000aa}
.fRESBL {fill:#0000aa}
.sADINF {stroke:#606060}
.fADINF {fill:#606060}
.sRESGR {stroke:#707070}
.fRESGR {fill:#707070}
.sSHIPS {stroke:#000000}
.fSHIPS {fill:#000000}
.sPSTRK {stroke:#000000}
.fPSTRK {fill:#000000}
.sSYTRK {stroke:#707070}
.fSYTRK {fill:#707070}
.sPLRTE {stroke:#aa0000}
.fPLRTE {fill:#aa0000}
.sAPLRT {stroke:#aa0000}
.fAPLRT {fill:#aa0000}
.sUINFD {stroke:#000000}
.fUINFD {fill:#000000}
.sUINFF {stroke:#404040}
.fUINFF {fill:#404040}
.sUIBCK {stroke:#ffffff}
.fUIBCK {fill:#ffffff}
.sUIAFD {stroke:#d0d0d0}
.fUIAFD {fill:#d0d0d0}
.sUINFR {stroke:#aa0000}
.fUINFR {fill:#aa0000}
.sUINFG {stroke:#50ff00}
.fUINFG {fill:#50ff00}
.sUINFO {stroke:#cc6600}
.fUINFO {fill:#cc6600}
.sUINFB {stroke:#0000aa}
.fUINFB {fill:#0000aa}
.sUINFM {stroke:#6600aa}
.fUINFM {fill:#6600aa}
.sUIBDR {stroke:#000000}
.fUIBDR {fill:#000000}
.sUIAFF {stroke:#909090}
.fUIAFF {fill:#909090}
.sOUTLW {stroke:#000000}
.fOUTLW {fill:#000000}
.sOUTLL {stroke:#303030}
.fOUTLL {fill:#303030}
.sRES01 {stroke:#707070}
.fRES01 {fill:#707070}
.sRES02 {stroke:#707070}
.fRES02 {fill:#707070}
.sRES03 {stroke:#707070}
.fRES03 {fill:#707070}
.sBKAJ1 {stroke:#000000}
.fBKAJ1 {fill:#000000}
.sBKAJ2 {stroke:#101010}
.fBKAJ2 {fill:#101010}
.sMARBL {stroke:#303030}
.fMARBL {fill:#303030}
.sMARCY {stroke:#008888}
.fMARCY {fill:#008888}
.sMARMG {stroke:#880088}
.fMARMG {fill:#880088}
.sMARWH {stroke:#707070}
.fMARWH {fill:#707070}
